http_interactions:
- request:
    method: get
    uri: https://api.pushshift.io/reddit/submission/search?q=dogs&subreddit=animals&size=10
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
      last-modified: Wed, 14 Dec 2022 19:29:22 GMT
    body:
      encoding: ''
      file: no
      string: "{\"data\":[{\"subreddit\":\"Animals\",\"selftext\":\"\",\"author_fullname\":\"t2_ucckqz4s\",\"gilded\":0,\"title\":\"We
        meet a lot of poor dogs, Feeding foot to street dogs\",\"link_flair_richtext\":[],\"subreddit_name_prefixed\":\"r/Animals\",\"hidden\":false,\"pwls\":6,\"link_flair_css_class\":null,\"thumbnail_height\":105,\"top_awarded_type\":null,\"hide_score\":true,\"quarantine\":false,\"link_flair_text_color\":\"dark\",\"upvote_ratio\":1.0,\"author_flair_background_color\":null,\"subreddit_type\":\"public\",\"total_awards_received\":0,\"media_embed\":{\"content\":\"&lt;iframe
        width=\\\"356\\\" height=\\\"200\\\" src=\\\"https://www.youtube.com/embed/JhXsvP7ySDU?feature=oembed&amp;enablejsapi=1\\\"
        frameborder=\\\"0\\\" allow=\\\"accelerometer; autoplay; clipboard-write;
        encrypted-media; gyroscope; picture-in-picture\\\" allowfullscreen title=\\\"We
        meet a lot of poor dogs, Feeding foot to street dogs\\\"&gt;&lt;/iframe&gt;\",\"width\":356,\"scrolling\":false,\"height\":200},\"thumbnail_width\":140,\"author_flair_template_id\":null,\"is_original_content\":false,\"secure_media\":{\"type\":\"youtube.com\",\"oembed\":{\"provider_url\":\"https://www.youtube.com/\",\"version\":\"1.0\",\"title\":\"We
        meet a lot of poor dogs, Feeding foot to street dogs\",\"type\":\"video\",\"thumbnail_width\":480,\"height\":200,\"width\":356,\"html\":\"&lt;iframe
        width=\\\"356\\\" height=\\\"200\\\" src=\\\"https://www.youtube.com/embed/JhXsvP7ySDU?feature=oembed&amp;enablejsapi=1\\\"
        frameborder=\\\"0\\\" allow=\\\"accelerometer; autoplay; clipboard-write;
        encrypted-media; gyroscope; picture-in-picture\\\" allowfullscreen title=\\\"We
        meet a lot of poor dogs, Feeding foot to street dogs\\\"&gt;&lt;/iframe&gt;\",\"author_name\":\"Puppies
        with Loeun\",\"provider_name\":\"YouTube\",\"thumbnail_url\":\"https://i.ytimg.com/vi/JhXsvP7ySDU/hqdefault.jpg\",\"thumbnail_height\":360,\"author_url\":\"https://www.youtube.com/@PuppieswithLoeun\"}},\"is_reddit_media_domain\":false,\"is_meta\":false,\"category\":null,\"secure_media_embed\":{\"content\":\"&lt;iframe
        width=\\\"356\\\" height=\\\"200\\\" src=\\\"https://www.youtube.com/embed/JhXsvP7ySDU?feature=oembed&amp;enablejsapi=1\\\"
        frameborder=\\\"0\\\" allow=\\\"accelerometer; autoplay; clipboard-write;
        encrypted-media; gyroscope; picture-in-picture\\\" allowfullscreen title=\\\"We
        meet a lot of poor dogs, Feeding foot to street dogs\\\"&gt;&lt;/iframe&gt;\",\"width\":356,\"scrolling\":false,\"media_domain_url\":\"https://www.redditmedia.com/mediaembed/zlrk4h\",\"height\":200},\"link_flair_text\":null,\"score\":1,\"is_created_from_ads_ui\":false,\"author_premium\":false,\"thumbnail\":\"https://b.thumbs.redditmedia.com/pF09kQqBP7h8YuzgZzshFMSrYjK1XY6h9t9aGsvMT5U.jpg\",\"edited\":false,\"author_flair_css_class\":null,\"author_flair_richtext\":[],\"gildings\":{},\"post_hint\":\"rich:video\",\"content_categories\":null,\"is_self\":false,\"link_flair_type\":\"text\",\"wls\":6,\"removed_by_category\":\"moderator\",\"author_flair_type\":\"text\",\"domain\":\"youtu.be\",\"allow_live_comments\":false,\"suggested_sort\":null,\"url_overridden_by_dest\":\"https://youtu.be/JhXsvP7ySDU\",\"view_count\":null,\"archived\":false,\"no_follow\":true,\"is_crosspostable\":false,\"pinned\":false,\"over_18\":false,\"preview\":{\"images\":[{\"source\":{\"url\":\"https://external-preview.redd.it/q-dDMGPJNinQ3WBTNIYz8osdFt3eer13FaiyziiHUM8.jpg?auto=webp&amp;v=enabled&amp;s=400f753a4da34889b9952b63bcb3c3f7fc239f3d\",\"width\":480,\"height\":360},\"resolutions\":[{\"url\":\"https://external-preview.redd.it/q-dDMGPJNinQ3WBTNIYz8osdFt3eer13FaiyziiHUM8.jpg?width=108&amp;crop=smart&amp;auto=webp&amp;v=enabled&amp;s=9e506c8a77ef2173866f800d7dc45285d9a73e31\",\"width\":108,\"height\":81},{\"url\":\"https://external-preview.redd.it/q-dDMGPJNinQ3WBTNIYz8osdFt3eer13FaiyziiHUM8.jpg?width=216&amp;crop=smart&amp;auto=webp&amp;v=enabled&amp;s=862e5eecc7176d1aaaae8f75bbe26121492584d3\",\"width\":216,\"height\":162},{\"url\":\"https://external-preview.redd.it/q-dDMGPJNinQ3WBTNIYz8osdFt3eer13FaiyziiHUM8.jpg?width=320&amp;crop=smart&amp;auto=webp&amp;v=enabled&amp;s=02ed994839f341c5e99fde1783f3c6aa7884adc2\",\"width\":320,\"height\":240}],\"variants\":{},\"id\":\"eEFhPR_tDgHazW9WvlfVL3S7ngmCDxkqLWybdW42tVY\"}],\"enabled\":false},\"all_awardings\":[],\"awarders\":[],\"media_only\":false,\"can_gild\":true,\"spoiler\":false,\"locked\":false,\"author_flair_text\":null,\"treatment_tags\":[],\"removed_by\":null,\"distinguished\":null,\"subreddit_id\":\"t5_2qi0c\",\"link_flair_background_color\":\"\",\"id\":\"zlrk4h\",\"is_robot_indexable\":false,\"author\":\"phunsavuth\",\"discussion_type\":null,\"num_comments\":0,\"send_replies\":true,\"whitelist_status\":\"all_ads\",\"contest_mode\":false,\"author_patreon_flair\":false,\"author_flair_text_color\":null,\"permalink\":\"/r/Animals/comments/zlrk4h/we_meet_a_lot_of_poor_dogs_feeding_foot_to_street/\",\"parent_whitelist_status\":\"all_ads\",\"stickied\":false,\"url\":\"https://youtu.be/JhXsvP7ySDU\",\"subreddit_subscribers\":102832,\"created_utc\":1671026101,\"num_crossposts\":0,\"media\":{\"type\":\"youtube.com\",\"oembed\":{\"provider_url\":\"https://www.youtube.com/\",\"version\":\"1.0\",\"title\":\"We
        meet a lot of poor dogs, Feeding foot to street dogs\",\"type\":\"video\",\"thumbnail_width\":480,\"height\":200,\"width\":356,\"html\":\"&lt;iframe
        width=\\\"356\\\" height=\\\"200\\\" src=\\\"https://www.youtube.com/embed/JhXsvP7ySDU?feature=oembed&amp;enablejsapi=1\\\"
        frameborder=\\\"0\\\" allow=\\\"accelerometer; autoplay; clipboard-write;
        encrypted-media; gyroscope; picture-in-picture\\\" allowfullscreen title=\\\"We
        meet a lot of poor dogs, Feeding foot to street dogs\\\"&gt;&lt;/iframe&gt;\",\"author_name\":\"Puppies
        with Loeun\",\"provider_name\":\"YouTube\",\"thumbnail_url\":\"https://i.ytimg.com/vi/JhXsvP7ySDU/hqdefault.jpg\",\"thumbnail_height\":360,\"author_url\":\"https://www.youtube.com/@PuppieswithLoeun\"}},\"is_video\":false,\"retrieved_utc\":1671026112,\"updated_utc\":1671026113,\"utc_datetime_str\":\"2022-12-14
        13:55:01\"},{\"subreddit\":\"Animals\",\"selftext\":\"\",\"author_fullname\":\"t2_sopxm2h2\",\"gilded\":0,\"title\":\"Pregnant
        &amp; Homeless Dogs Rely on Street Dog Feeders to Survive\",\"link_flair_richtext\":[],\"subreddit_name_prefixed\":\"r/Animals\",\"hidden\":false,\"pwls\":6,\"link_flair_css_class\":null,\"thumbnail_height\":93,\"top_awarded_type\":null,\"hide_score\":true,\"quarantine\":false,\"link_flair_text_color\":\"dark\",\"upvote_ratio\":1.0,\"author_f[...]
