http_interactions:
- request:
    method: get
    uri: https://api.pushshift.io/reddit/comment/search?q=cats&size=100
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
      last-modified: Wed, 14 Dec 2022 19:29:20 GMT
    body:
      encoding: ''
      file: no
      string: "{\"data\":[{\"subreddit_id\":\"t5_2s6dm\",\"author_is_blocked\":false,\"comment_type\":null,\"edited\":false,\"author_flair_type\":\"text\",\"total_awards_received\":0,\"subreddit\":\"KingOfTheHill\",\"author_flair_template_id\":null,\"id\":\"j084v39\",\"gilded\":0,\"archived\":false,\"collapsed_reason_code\":null,\"no_follow\":true,\"author\":\"Tatmar\",\"send_replies\":true,\"parent_id\":null,\"score\":1,\"author_fullname\":\"t2_f76l7\",\"all_awardings\":[],\"body\":\"I
        had this in college every now and then because it was cheap and it always
        had a certain recognizable smell that I could never pinpoint. Recently, I
        was at my girlfriends parents place feeding their cats and this smell came
        back to me. It smells like cat food. Shit is nasty\",\"top_awarded_type\":null,\"author_flair_css_class\":null,\"author_patreon_flair\":false,\"collapsed\":false,\"author_flair_richtext\":[],\"is_submitter\":false,\"gildings\":{},\"collapsed_reason\":null,\"associated_award\":null,\"stickied\":false,\"author_premium\":false,\"can_gild\":true,\"link_id\":\"t3_zlxv7m\",\"unrepliable_reason\":null,\"author_flair_text_color\":null,\"score_hidden\":false,\"permalink\":\"/r/KingOfTheHill/comments/zlxv7m/wolf_brand_chili_an_authentic_texas_recipe_i_tell/j084v39/\",\"subreddit_type\":\"public\",\"locked\":false,\"author_flair_text\":null,\"treatment_tags\":[],\"created_utc\":1671046247,\"subreddit_name_prefixed\":\"r/KingOfTheHill\",\"controversiality\":0,\"author_flair_background_color\":null,\"collapsed_because_crowd_control\":null,\"distinguished\":null,\"retrieved_utc\":1671046264,\"updated_utc\":1671046265,\"body_sha1\":\"176594d61f5535c1886c91cdeed72af649ef1623\",\"nest_level\":1,\"utc_datetime_str\":\"2022-12-14
        19:30:47\"},{\"subreddit_id\":\"t5_2sn56\",\"author_is_blocked\":false,\"comment_type\":null,\"edited\":false,\"author_flair_type\":\"text\",\"total_awards_received\":0,\"subreddit\":\"CatAdvice\",\"author_flair_template_id\":null,\"id\":\"j084uf6\",\"gilded\":0,\"archived\":false,\"collapsed_reason_code\":null,\"no_follow\":true,\"author\":\"fluffbeards\",\"send_replies\":true,\"parent_id\":41371461043,\"score\":1,\"author_fullname\":\"t2_dqeylga6\",\"all_awardings\":[],\"b[...]
